// Main styles
$primary-color: #fcaf32;
$secondary-color: #fc888e;

html,
body {
  font-family: 'Lato', sans-serif;
  margin: 0;
  padding: 0;
}

/* Styles for all inputs */
input[type=text],
input[type=password] {
  width: 100%;
  padding: 15px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid black;
  box-sizing: border-box;

  &::placeholder {
    font-size: 12px;
  }
}

input[type=password] {
  margin-bottom: 15px;
}

/* Styles for section='main' */
.main {
  align-items: center;
  background: linear-gradient(-45deg, $primary-color 0%, $secondary-color 100%);
  display: flex;
  justify-content: center;
  min-height: 100vh;

  /* Adding styling for message after successful login */
  &-message {
    display: none;
    font-family: 'Lobster', cursive;
    font-size: 50px;
  }

  /* Adding styling for loader element after successful login*/
  &-loading {
    display: none;
    font-family: 'Lobster', cursive;
    font-size: 32px;
    z-index: 100;
    position: fixed;
    top: 10%;

    /* Styling loader element with animated dots*/
    &:after {
      content: ' .';
      animation: dots 1s steps(5, end) infinite;
    }
  }

  @keyframes dots {

    0%,
    20% {
      color: rgba(0, 0, 0, 0);
      text-shadow:
        .25em 0 0 rgba(0, 0, 0, 0),
        .5em 0 0 rgba(0, 0, 0, 0);
    }

    40% {
      color: black;
      text-shadow:
        .25em 0 0 rgba(0, 0, 0, 0),
        .5em 0 0 rgba(0, 0, 0, 0);
    }

    60% {
      text-shadow:
        .25em 0 0 black,
        .5em 0 0 rgba(0, 0, 0, 0);
    }

    80%,
    100% {
      text-shadow:
        .25em 0 0 black,
        .5em 0 0 black;
    }
  }
}

.container {
  padding: 35px;
}

/* Styles for buttons*/
.btn {
  cursor: pointer;
  border: 0;
  outline: none;

  /* Styles for Click Me btn*/
  &-main {
    appearance: none;
    background: transparent;
    font-family: 'Lobster', cursive;
    font-size: 42px;
    height: 60px;
    padding: 0 20px;
    transition: transform .5s ease;

    &:hover {
      transform: scale(1.15);
    }
  }

  /* Styles for Close btn in login form*/
  &-close {
    position: absolute;
    top: -5px;
    right: -5px;
    font-size: 26px;
    line-height: 26px;
  }

  /* Styles for Submit btn in login form*/
  &-submit {
    background-color: #000000;
    color: #ffffff;
    text-transform: uppercase;
    padding: 15px 20px;
    margin-top: 25px;
    width: 100%;
    transition: background-color .3s;

    /* Adding hover effect */
    &:hover {
      background-color: #FC888E;
    }
  }
}